/* Add margins to separate each .box-category */
.box-content-category {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-category {
    flex: 1;
    text-align: center;
    border: 5px solid rgba(209, 202, 202, 0.5);
    padding: 10px;
    margin-right: 20px;
    border-radius: 20px;
}

.box-category:last-child {
    margin-right: 0;
}

.box-category a {
    text-decoration: none;
    color: #333;
}
