.detail-product .title {
    align-items: center;
    margin-bottom: 30px;
    border-bottom: var(--border);
    padding: 10px;
    font-size: 22px;
    color: var(--black);
}

.detail {
    background: #f3f3f3;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 15px;
}

.detail .content {
    flex: 1 1 420px;
    margin: 10px;
}

.detail .content h3 {
    color: var(--border);
    font-size: 25px;
    padding-bottom: 5px;
}

.detail .content p {
    color: var(--light-color);
    font-size: 18px;
    line-height: 2;
    padding: 10px 0;
}

.detail .content a {
    bottom: 0;
}

.detail .image {
    flex: 1 1 420px;
}

.detail .image img {
    width: 100%;
    border-radius: 5px;
}

.detail .content .price {
    font-size: 17px;
    color: var(--black);
}

.detail .content .price span {
    font-size: 13px;
    color: var(--light-color);
    text-decoration: line-through;
}

.detail .content .stars {
    font-size: 13px;
}

.detail .content .stars i {
    color: gold;
}